@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border font-inter !scroll-smooth;
  }

  body {
    @apply bg-primary text-gray-200;
  }

  header {
    @apply fixed top-0 z-50 w-full;
  }

  h1,
  h2,
  h3 {
    @apply font-anek font-semibold;
  }
}

.customGradient {
  @apply bg-gradient-to-b from-tertiary via-secondary to-primary;
}

.testGradient {
  mask: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%),
    linear-gradient(to left, transparent 10%, #fff 30% 90%, transparent 95%);
  mask-size: 110% 110%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

.heroGradient {
  mask-image: radial-gradient(
    circle farthest-side at center 70%,
    rgba(0, 0, 0, 0.9) 40%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0.05) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.heroGradient2 {
  mask-image: radial-gradient(
    ellipse closest-side at center center,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0.05) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hover-link:hover {
  @apply cursor-pointer bg-clip-text bg-gradient-to-l from-primaryGreen to-secondaryGreen text-transparent transform -translate-y-1.5;
}

.btn {
  @apply relative flex items-center gap-3 text-lg 2xl:text-2xl font-inter font-bold rounded-full cursor-pointer uppercase bg-primaryGreen px-8 py-[0.75rem] transition-[background-color] duration-[0.3s,color] delay-[0.3s];
}

.btn::before {
  @apply absolute bg-inherit -z-[1] opacity-80 -inset-4 rounded-full;
  transform: scale3d(0.8, 0.5, 1);
}

.btn:hover {
  @apply hover:animate-[anim-1_0.3s_forwards] hover:before:animate-[anim-2_0.3s_0.3s_forwards];
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
}
@keyframes anim-1 {
  60% {
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-2 {
  to {
    @apply opacity-0;
    transform: scale3d(1, 1, 1);
  }
}

.bg-engines {
  position: relative;
  border: 3px solid #fff;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  opacity: 0.5;
}

.from-engines {
  --tw-gradient-from: #009c59 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(34 197 94 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.text-engines {
  color: #00d87a;
}

.btn-discord {
  border: 2px solid white;
  color: white;
  filter: invert(42%) sepia(25%) saturate(2788%) hue-rotate(119deg)
    brightness(94%) contrast(101%);
  padding: 6px;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

.btn-discord:hover {
  opacity: 0.6;
}

.gradient-engines {
  @apply bg-clip-text bg-gradient-to-l from-primaryGreen to-secondaryGreen text-transparent;
}

.btn-primary {
  @apply bg-primaryGreen p-3 rounded text-whitesmoke transition duration-300;
}

.btn-primary:hover {
  @apply bg-secondaryGreen;
}

.btn-secondary {
  @apply p-3 rounded border-whitesmoke transition duration-300;
}

.btn-secondary:hover {
  @apply bg-whitesmoker;
}

.bg-primaryGradient {
  @apply bg-gradient-to-l from-primaryGreen to-secondaryGreen transform;
}

/*
* NAV BAR CSS
*/

nav ul li a {
  @apply block no-underline text-white text-lg 2xl:text-2xl font-inter font-semibold uppercase relative transition-all duration-[0.5s] my-0 px-5 py-6 after:absolute;
}
nav ul li a:after {
  @apply h-px transition-[width] duration-[0.5s] m-0 bottom-0 inset-x-0 bg-primaryGreen w-0;
}

nav.fill ul li a:hover {
  @apply text-white z-[1];
}

nav.fill ul li a:hover:after {
  @apply w-full -z-10 opacity-100 animate-[fill_.5s_forwards];
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #009c59;
  }
}
