@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border font-inter;
  }

  body {
    @apply bg-primary text-gray-200 scroll-smooth;
  }

  header {
    @apply fixed top-0 z-50 w-full;
  }

  h1,
  h2,
  h3 {
    @apply font-anek font-semibold;
  }
}

.customGradient {
  @apply bg-gradient-to-b from-tertiary via-secondary to-primary;
}

.testGradient {
  mask: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%),
    linear-gradient(to left, transparent 10%, #fff 30% 90%, transparent 95%);
  mask-size: 110% 110%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

.heroGradient {
  mask-image: radial-gradient(
    circle farthest-side at center 70%,
    rgba(0, 0, 0, 0.9) 40%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0.05) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.heroGradient2 {
  mask-image: radial-gradient(
    ellipse closest-side at center center,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0.05) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hover-link:hover {
  @apply cursor-pointer bg-clip-text bg-gradient-to-l from-primaryGreen to-secondaryGreen text-transparent transform -translate-y-1.5;
}

.btn {
  @apply text-xl font-anek font-bold rounded-xl cursor-pointer uppercase whitespace-nowrap bg-primaryGreen min-w-[10rem] px-[1.5rem] py-[0.75rem];
}

.btn:hover {
  @apply cursor-pointer transform -translate-y-1.5;
}

.gradient-engines {
  --tw-gradient-from: #009c59 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(34 197 94 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #003a21 var(--tw-gradient-to-position);
}
